body {
    background-color: rgb(210, 155, 124);
    font-family: sans-serif;
    box-sizing: content-box; 
}
  
.container {
    margin: 0 auto;
    padding-top: 50px; 
}
  
.important {
    font-weight: bold;
    color: rgb(223, 10, 14); 
}
  
.todo__list {
    max-width: 400px;
    display: block;
    margin: 0 auto 40px;
    background-color: rgb(123, 130, 219);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 #074b83; 
}
  
h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px; 
}
  
.create_new_todo {
    text-align: center; 
}
  
input[type=text] {
    width: 376px;
    padding: 10px; 
}
  
button {
    margin-top: 10px;
    width: 400px;
    padding: 10px;
    cursor: pointer; 
}
  
.todo__wrap {
    padding-left: 0; 
}
.todo__wrap li {
    padding: 1em;
    list-style-type: none; 
}
.todo__wrap li:not(:last-child) {
    border-bottom: 1px solid #000; 
}
input[type=checkbox] {
    opacity: 0;
    position: absolute; 
}  
input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; 
}
  
input[type=checkbox] + label:before {
    content: '';
    background: #1BA39C;
    border-radius: 5px;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; 
}
  
input[type=checkbox]:checked + label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 5px;
    border: solid rgb(205, 205, 218);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px; 
}
  